<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Senior IT Software Engineer</mat-card-title>
    <mat-card-subtitle>General Dynamics Mission Systems</mat-card-subtitle>
    <mat-card-subtitle>December 2016 - present</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      - Lead Automation efforts across the IT organization leveraging a .NET framework front/back end & various
      microservices <br>
      - Support Application Lifecycle Management within my team as well as various programs within the company<br>
      - Design utilities to help with data migration, tool support, and internal corporate applications<br>
      - Utilize and extend API's (ex. REST, OSLC, IBM Rational tools) to complete the above<br>
      - SME in testing: highly knowledgeable in testing tools. Support for automated testing & load testing<br>
      - Perform gap-analysis on applications, involving initial exploration, server/client installations, documentation,
      and continued support<br>
      - Ensure maximum uptime of a variety of application & web-based servers (Windows, Linux, & Apache Tomcat)<br>
    </p>
  </mat-card-content>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Tech Team Member</mat-card-title>
    <mat-card-subtitle>Guardian Life Insurance</mat-card-subtitle>
    <mat-card-subtitle>May 2013 - December 2016</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      - Acting as a go-to resource for computer related business problems (i.e.: how to better perform day to day tasks with the
      programs and software already available to the department) <br>
      - Research and implement new systems for managing claims (Leankit, JIRA, Confluence, and Sharepoint)<br>
      - In addition, designing workbooks and VBA coding to automate processes)<br>
      - Act in a Scrum Master role during daily standups and retrospectives<br>
      - Design and run daily and ad-hoc reports with Microsoft SQL Server SQL queries<br>
      - Spearhead new processes to consistently provide our client base with exceptional customer service<br>
    </p>
  </mat-card-content>
</mat-card>
