<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>About me</h1>
      <br>
      <p>My name is Devin Whitney, and I am an experienced Software Engineer. My skills range across the devsecops lifecycle, and include
        software & systems engineering, testing, building, and more.
      </p>
    </div>
    <div class="col-md-4">
      <img width="85%"  [src]="picture.me_and_amanda">
      <h6>My wife and I</h6>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-8">
      <h2>Personal</h2>
      <br>
      <p>I am an avid cook, and love everything food. Taking the time to create from-scratch meals is such a rewarding experience,
        and I love to share as often as possible.
      </p>
    </div>
    <div class="col-md-4">
      <img width="45%"  [src]="picture.bread">
      <img width="45%"  [src]="picture.pizza">
      <h6>Sourdough loaf  &  green chile pizza</h6>
    </div>
  </div>
</div>
