<mat-list>
  <mat-list-item>
    <h2>Udacity</h2>
    <mat-divider></mat-divider>
  </mat-list-item>
    <mat-list-item><p>Selected to participate in the Grow with Google challenge. Out of 100,000 applicants, 10,000 were awarded
      to pursue the chance to earn an Android Developers Nanodegree from Udacity. After the first 3 months,
      the group was parsed down to 1,000 total applicants. I officially earned the nanodegree in November of 2018.</p>
    </mat-list-item>
  <mat-list-item>
    <h2>UMass Lowell</h2>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p>B.S. in Information Technology. 3.8 GPA. Awarded in January of 2018</p>
  </mat-list-item>
  <mat-list-item>
    <h2>Westfield State University</h2>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p>B.A. in Business and Communications. Awarded in May of 2013</p>
  </mat-list-item>
</mat-list>
