.slide {
  transition: ease-in-out 400ms;
}
.example-card {
  max-width: 75%;
  margin: 25px;
}

.udacity-header-image {
  background-image: url('https://d20vrrgs8k4bvw.cloudfront.net/images/open-graph/udacity.png');
  background-size: cover;
}

.umass-header-image {
  background-image: url('https://www.uml.edu/Images/uml_vertical_logo_no_tagline_tcm18-59064.png');
  background-size: cover;
}

.westfield-header-image {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGA0Yy8XipxoMHnpWaR9JUgbg2O1AYsItEIT_pFh-bMUb7sxPd');
  background-size: cover;
}
