<mat-list>
  <mat-card class="example-card">
    <mat-card-header>
      <a href="https://www.udacity.com">
        <div mat-card-avatar class="udacity-header-image"></div>
      </a>
      <mat-card-title>Udacity</mat-card-title>
      <mat-card-subtitle>Android Developers Nanodegree</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        I earned the Android Developers Nanodegree in November of 2018. I first heard of the Grow with Google Challenge around Q4 in 2017, and decided to apply.
        After filling out the questionnaire, I awaited to hear my status. About 100,000 people had applied to this round of the challenge,
        and 10,000 were selected for the Android Developers Nanodegree. After an initial 3 month phase, the group was narrowed down to 1,000 to complete
        the full Nanodegree. It was a great experience, learning alongside a variety of different students across the globe. We had an active slack
        channel to ask for & provide help. I found android development a lot of fun, as it was my first real experience in what I consider
        a "full-stack" development environment. In addition, it was fun to learn how apps work, with concepts like recycler views, activities &
        fragments, various layouts, transitions, intents & more.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
  <mat-card-header>
    <a href="https://www.uml.edu/">
      <div mat-card-avatar class="umass-header-image"></div>
    </a>
    <mat-card-title>UMass Lowell</mat-card-title>
    <mat-card-subtitle>B.S. in Information Technology</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      I earned my Bachelor of Science in Information Technology in January of 2017, with a GPA of 3.8. I focused my studies on expanding my knowledge on
      various programming languages, data structures, databases, and networking. Some of my projects have been added to my GitHub, feel free to take
      a look there for examples. I really enjoyed the challenges that C++ provided. My advanced java class dived into working on some of my first
      back-end products with Tomcat. My degree provided a really solid foundation that I have continued to build upon.
    </p>
  </mat-card-content>
</mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <a href="http://www.westfield.ma.edu/">
        <div mat-card-avatar class="westfield-header-image"></div>
      </a>
      <mat-card-title>Westfield State University</mat-card-title>
      <mat-card-subtitle>B.A. in Business & Communications</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
      I earned my first degree, a Bachelor of Arts in Business and Communications from Westfield State University back in May of 2013. I was looking for
         school that was close by to my home, since I was unsure what I wanted to do for my career. Owning my own business has always been on the
        forefront of my mind, so I thought a degree in business would help me one day.
      </p>
    </mat-card-content>
  </mat-card>
</mat-list>
