<div class="container">
  <h1>Register</h1>
  <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName"
       required
       [(ngModel)]="model.firstName"
       #firstName="ngModel">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName"
       required
       [(ngModel)]="model.lastName">
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text"
      minlength="3"
      maxlength="20" class="form-control" id="username"
      required
      [(ngModel)]="model.username">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email"
       required
       [(ngModel)]="model.email">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password"
      minlength="6" class="form-control" id="password"
      required
      [(ngModel)]="model.password">
    </div>

    <button type="submit" class="btn btn-success"
    [disabled]="!registerForm.form.valid">Submit</button>
  </form>
</div>
